#sec1-box {
  height: 18rem;
  display: flex;
  align-items: center;
}

#sec1-left-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  display: flex;
  position: relative;
  left: 5rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#sec1-right-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  display: flex;
  position: relative;
  right: 5rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#s1-shop-button {
  background-color: transparent;
  border-color: rgb(53, 52, 52);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 10rem;
  border-radius: 5px;
}

#s1-shop-button:hover {
  transition: 0.5s;
  background-color: rgb(53, 52, 52);
  border-color: rgb(53, 52, 52);
  color: rgb(255, 255, 255);
}
#sec1-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  /* background-color: pink; */
  height: 23vh;
  /* width: 100%; */
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap;

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: black;
}
#sec1-container::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
  height: 0.5rem;
}

#sec1-container::-webkit-scrollbar-track {
  background: gray; /* Set the background color of the track */
  height: 0.5rem;
}

#sec1-container::-webkit-scrollbar-thumb {
  background: rgb(91, 87, 87); /* Set the background color of the thumb */
  border-radius: 6px; /* Round the corners of the thumb */
  height: 0.5rem;
}

#sec1-container::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0); /* Set the background color of the thumb on hover */
  height: 0.5rem;
}
.scrollable-content {
  /* Ensure the content doesn't grow to fill the container */
  flex: 0 0 auto;
  display: flex;
}

#sec1-carousel {
  display: flex;
}

#sec1-card {
  display: flex;
  align-items: center;
  text-align: center;
  width: 10rem;
  border-color: transparent;
  flex: 0 0 auto;
  /* background-color: pink; */
}

#sec1-card-img {
  width: 8rem;
  border-radius: 50%;
  overflow: hidden; /* Ensure the image stays within the circle */
}

@media (min-width: 1024px) {
  #sec1-container {
    width: 100%;
    display: flex;
  }
}
