@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

#s2-container {
  margin-top: 20px;
  background-color: rgb(247, 247, 247);
  max-height: 1300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

#s2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
  font-family: 'Raleway', sans-serif;
}

#s2-h1 {
  font-size: 2rem;
  text-align: center;
  margin: 4rem 0;
  font-weight: bold;
}

#s2-card-container {
  display: flex;
}

#s2-card-box {
  flex: 1;
  align-self: stretch;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#s2-cardbody {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  align-self: stretch;
}

#s2-cardbody h5 {
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}

#s2-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: rgb(53, 52, 52);
  color: black;
  width: 100%;
  font-size: 90%;
  margin-top: 0.8rem;
}
#s2-button h6 {
  margin: 0;
  font-size: 0.6;
  font-weight: bold;
}

#s2-button:hover {
  transition: 0.5s;
  background-color: rgb(53, 52, 52);
  border-color: rgb(53, 52, 52);
  color: rgb(255, 255, 255);
}
