#s2-container {
  margin-top: 5rem;
  background-color: rgb(36, 35, 35);
  max-height: 100vh;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#s2-vid {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#s2-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  max-height: 90%;
}

#s2-h1 {
  font-style: italic;
  /* font-size: 3rem; */
}

#s2-h5 {
  font-weight: bold;
}
#s2-h5:hover {
  color: pink;
}

@media (max-width: 768px) {
  #s2-vid {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    object-position: 50% 60%;
  }

  #s2-text,
  #s2-s1,
  #s2-h5 {
    font-size: 0.6rem;
    margin-top: 1rem;
  }
}
