@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

#status-content {
  font-family: 'Raleway', sans-serif;
}

#status-table img {
  width: 100px;
  max-width: 100px;
}

#status-tableHead h5 {
  font-weight: bolder;
  text-align: center;
}

#status-tableHead p {
  margin: 0;
  text-align: center;
}

#status-tableBody h6 {
  font-weight: bolder;
}

#status-tableBody p {
  font-weight: 100;
}
