@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,100&display=swap');

#account-content {
  font-family: 'Raleway', sans-serif;
}

#account-left h1 {
  font-weight: bolder;
}

#account-content {
  margin-top: 5rem;
}

#account-edit p {
  color: rgb(185, 37, 153);
  margin: 0;
}

#account-right-data p {
  font-weight: bold;
  margin: 0;
}
