@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

#admin-container {
  /* background-color: #ffffff; */
  background-color: rgb(249, 250, 252);
  color: black;
  font-family: 'Raleway', sans-serif;
}

#admin-left {
  /* background-color: #e4e4e4; */
  background-color: rgb(20, 25, 42);
  padding: 0;
  text-align: center;
  color: white;
}

#admin-left img {
  display: flex;
  margin: auto;
  margin-top: 2rem;
  width: 50%;
}

#admin-left button {
  width: 100%;
  padding: 20px;
  background-color: rgb(20, 25, 42);
  color: white;
  font-weight: bold;

  border-color: transparent;
}

#admin-left button:hover {
  background-color: rgb(34, 39, 55);
}
