@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

#disposal-left,
#disposal-right {
  margin-top: 8rem;
  /* margin-bottom: 10rem; */
  font-family: 'Raleway', sans-serif;
}

#disposal-left {
  background-color: rgb(250, 250, 250);
  height: 40vh;
}

#disposal-left h1 {
  font-size: 8.5vh;
  font-weight: bold;
}

#disposal-right h6 {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.disposal-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disposal-col img {
  margin: auto;
  display: block;
}
