#header-top {
  background-color: black;
  color: white;
  text-align: center;
  height: 1.5rem;
}

#navbar-container {
  background-color: white;
  -webkit-box-shadow: 2px 6.5px 17px 1px #cbcbcb;
  -moz-box-shadow: 2px 6.5px 17px 1px #cbcbcb;
  box-shadow: 2px 6.5px 17px 1px #cbcbcb;
  position: sticky;
  top: 0;
  z-index: 5;
}

#navbar-container .navbar-toggler {
  border: none;
  margin-left: 0.5rem;
  order: -1; /* This moves the toggle button to the left */
}

#navbar-container .navbar-nav {
  order: 0; /* This restores the order of the nav items */
  margin-left: 0.5rem;
}

#basic-navbar-nav {
  margin-left: 1rem;
}
