@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

#adminProduct-content {
  font-family: 'Raleway', sans-serif;
  margin-top: 3rem;
}
#adminProduct-content h3 {
  font-weight: bold;
}

#product-btnContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
/* ----------- */

#product-btn {
  background-color: #a84275;
  color: white;
  font-weight: bold;
  border-color: transparent;
  padding: 7px;
  animation: product-btnbounce 4s infinite;
  cursor: pointer;
}

@keyframes product-btnbounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}

/* ----------- */
#product-table {
  border-collapse: collapse;
  width: 100%;
  /* height: auto; */
  margin-top: 2rem;

  -webkit-box-shadow: 8.5px 2.5px 18px 4px #dddddd;
  -moz-box-shadow: 8.5px 2.5px 18px 4px #dddddd;
  box-shadow: 8.5px 2.5px 18px 4px #dddddd;
}

#product-table th,
#product-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#product-table th {
  background-color: #f2f2f2;
}

#product-table td {
  font-size: 1rem;
}
#product-table img {
  max-width: 100px;
}

.admin-product {
  overflow-x: auto;
}

#adminProduct-tableHead th {
  text-align: center;
}

#adminProduct-tableBody img {
  width: 170px;
  display: flex;
  margin: auto;
  margin-bottom: 1rem;
}

#adminProduct-btn {
  display: flex;
  justify-content: center;
}

#product-modal h4 {
  margin-bottom: 2rem;
  font-weight: bold;
}

#product-submitBtn {
  background-color: #198754;
  width: 15%;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-color: transparent;
}
