@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

#adminRegister-container {
  background-color: rgb(233, 230, 227);
  padding: 2rem;
}

#adminRegister-content {
  /* margin-top: 3rem; */
  font-family: 'Raleway', sans-serif;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#adminRegister-left img {
  width: 130px;
}

#adminRegister-imgContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#adminRegister-imgContainer p {
  font-size: 0.7rem;
}

#admiLogin-remember {
  display: flex;
  justify-content: space-between;
}

#admiLogin-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgb(12, 9, 6);
  border-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 1.4rem;
  margin-bottom: 2rem;
}

#admiLogin-btn:hover {
  transition: 0.5s;
  background-color: rgb(53, 52, 52);
  border-color: transparent;
  color: rgb(255, 255, 255);
}

#adminRegister-right {
  /* background-color: rgb(233, 230, 227); */
  padding: 0;
}

#adminRegister-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

#adminRegister-rightContainer img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
}

#adminRegister-card {
  background-color: rgb(220, 220, 220);
}
